/* ------------------------------------------------------------------------------------------------------- */
/*                                  HEADER                                                                 */
/* --------------------------------------------------------------------------------------------------------*/
/* //TODO: Titulo1 */
.titulo1{
    margin-top: 42px;
    margin-left: 180px;
}

.titulo1 img {
    width: 200px;
}


/* //TODO: Menú desplegable */
.menu{
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 9%;
    position: fixed;
    transition: .4s all;
    z-index: 1;
    top: 2.5%;
    left: 1%;
}
.menu ul{
    padding: 0px;
    text-align: center;
    list-style: none;
}
.menu li{
    transition: .3s all;
}
.menu a{
    text-decoration: none;
    list-style: none;
    
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}
.menu h2{
    text-align: center;
    color: aliceblue;
    padding: 7px;
    padding-bottom: 7px;
    font-size: 0px;
}
.menu img{
    padding-top: 30px;
    padding-left: 10px;
}
.menu:hover{
    width: 15%;
    height: 30%;

    background-color:slateblue;
}
.menu:hover h2{
    padding: 15px;
    font-size: 35px;
}
.menu:hover a{
    font-size: 20px;
    color: aliceblue;
    display: block;
    padding: 20px;
}
.menu:hover img{
    height: 0px;
}
.menu:hover li{
    border-top: 1px solid black;
}
.menu:hover ul:last-of-type{
    border-bottom: 1px solid black;
}
.menu:hover a:hover{
    font-size: 25px;
    padding: 30px 0px;
    background-color:deepskyblue;
}


/* //TODO: Header que no desaparece */
.men {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

main {
    margin-top: 200px;
}

/* //TODO: Enlaces */
header nav {
    margin-bottom: 10px;
}
    header nav ul {
        list-style: none;
        overflow: hidden;
    }
        header nav ul li {
            float: left;
        }
            header nav ul li a {
                display: block;
                padding-left: 50px;
                padding-right: 50px;
                text-decoration: none;
                color: rgba(6, 32, 82);
            }
.enlaces{
    display: flex;
    justify-content: center;
}
.link:hover{
    transform: scale(1.3);
    transition: transform .5s;
}


/* //TODO: ICONO DE LOGIN DEL USUARIO */
.usuario{
    position: fixed;
    right: 30px;
}
#user {
    color: gray;
}

/* //TODO: SUBIR TALLER*/
.taller{
    position: fixed;
    right: 30px;
    top: 180px;
}

#p_t{
    color: gray;
}

/* //TODO: BARRA DE BUSQUEDA */
.search {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 .5px gray;
    overflow: hidden;
    position: fixed;
    right: 70px;
    top: 108px;
}
.search.active {
    width: 360px;
}
.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}
.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}
.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}
.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

/* ------------------------------------------------------------------------------------------------------- */
/*                                  CONFIGURACION                                                          */
/* --------------------------------------------------------------------------------------------------------*/



html {
    scroll-behavior: smooth;
}

.tit_configuracion{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin-left: 47px;
    color: gray;
}

.confi{
    font-size: 30px;
    margin-left: 15px;
    margin-top: 5px;
    color: rgba(6, 32, 82);
}

.opciones{
    position: fixed;
    top: 35%;
    left: 3%;
}

#aa{
    text-decoration: none; 
    font-size: 20px;
    color: rgba(127, 127, 127);
}

/*.navegar:hover{
    background-color: rgb(187, 194, 194);
    transform: scaleY(1.6);
    border: solid;
    border-radius: 3px;
}
*/

.opciones a::after {
    content: "";
    background-color: rgb(216, 216, 216);
    position: absolute;
    left: -10%;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 25px;
    opacity: 0;
    transition: opacity 0.3s;
}

.opciones a.navegar::after,
.opciones a:hover::after {
    opacity: 0.5;
}

.tit_datos{
    font-size: 30px;
    font-weight: bold;
    margin-left: 400px;
    margin-bottom: 90px;
}

.datos_usuario{
    margin-left: 500px;
    font-size: 12px;
    margin-bottom: 200px;
    color: rgba(127, 127, 127);
}

.datos_usuario h2 {
    margin-left: 5px;
    margin-bottom: 5px;
}

section[id] {
    scroll-margin-top: 200px;
}


/* //TODO: AGENDA (SWITCH) */




/* //TODO: MIS VEHÍCULOS*/

.todo_vehiculos{
    margin-left: 450px;
    margin-bottom: 30px;
    color: rgba(127, 127, 127);
}
.cuadrado {
    margin-bottom: 30px;
}

.cuadrado select {
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    box-shadow: 0px .2px 4px rgba(127, 127, 127);
    border-radius: 2px;
}

.cuadrado input {
    border: none;
    box-shadow: 0px .2px 4px rgba(127, 127, 127);
    border-radius: 2px;
}



/*//TODO: HISTORIAL DEL OPINIONES */

.tit_opiniones{
    font-size: 30px;
    font-weight: bold;
    margin-left: 400px;
    margin-bottom: 90px;
}
.tit_historial {
    font-size: 30px;
    font-weight: bold;
    margin-left: 400px;
    margin-bottom: 90px;
}

.conteiner {
    margin-bottom: 400px;
    color: rgba(127, 127, 127);
}
.taa {
    display: flex;
}
.ke{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    margin-left: 450px;
    margin-bottom: 50px;
    box-shadow: 0px .2px 4px rgba(127, 127, 127);
    border-radius: 2px;
}
.wa {
    margin-left: 50px;
}
.we {
    margin-left: 25px;
    text-align: center;
}

#po {
    display: flex;
}



